.containerOuterHome{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: row;
    gap: 15px;

}


@media (max-width: 450px) {
    .containerOuterHome {
        flex-direction: column;
        align-items: center;
    }
  }


