.containerPasteList{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap:1rem;
    border-radius: 1.5rem;
    padding: 1rem 1rem;
    color: #FFF0D1;
    background-color: #1c1c1c;
    box-shadow: 0 2px 8px rgba(15, 15, 15, 0.6);
}
.containerPasteListLinks{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    gap: 0.5rem;
}

.noBullet{
    list-style-type: none
}
